# Docker
docker-compose.yaml
docker-compose.yml
Dockerfile
.env

# Airflow
logs/

# Pasta das Imagens
questions_images/
# Cache Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pycache
.pytest_cache/

# Sistema
.DS_Store
Thumbs.db